@import "tailwindcss";

@theme {
  /* আপনার অফিশিয়াল কালার প্যালেট */
  --color-mainbg: #E6E6E6;
  --color-primary: #3C92DE;
  --color-secondary: #2F568E;
  --color-supporting: #99A8CC;
  --color-admintheme: #6D6363;
}

body {
  background-color: var(--color-mainbg);
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Swiper Continuous Scroll */
.brand-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}